body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
input{
    border-style: none;
    border-radius: 10px;
    background-color: #e2e8f0;
    text-indent: 6px;
    height: 20px;
}
button{
    border-style: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: #fecaca;
    box-shadow: 0px 5px 10px rgba(168, 168, 168, 0.486);
}
.container{
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    gap: 15px;
    
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 8px 10px rgba(184, 184, 184, 0.384);
}
.square{
    background-color: white;
}
img{
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
}
.square:hover{
    background-color: rgba(235, 233, 233, 0.247);
}