body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    gap: 15px;
    
    background-color: rgb(0, 0, 0);
    
}
.square{
    background-color: white;
}
img{
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
}
.square:hover{
    background-color: rgba(235, 233, 233, 0.247);
}